:host {
  position: fixed;
  bottom: 0px;

  display: flex;
  justify-content: flex-end;

  width: fill-available;
  height: 3rem;
  padding: 1rem;

  border-top: 0.25rem solid var(--cucumber);
  background-color: white;
}
