@use '../../../styles/colors';

:host {
  position: sticky;
  top: 0px;
  z-index: 1; //mat-button bug

  display: flex;
  justify-content: space-between;

  height: 3rem;
  padding: 1rem;

  border-bottom: 0.25rem solid var(--cucumber);
  background-color: white;
}

.user-info {
  display: flex;
  flex-direction: row;

  align-items: center;
}
