:host {
  display: grid;
  height: fill-available;
  grid-template-rows: 3rem auto 3rem;

  padding: 2rem;
}

.header, .body, .footer {
  display: flex;
  flex-direction: row;
}

.body {
  flex-wrap: wrap;
}

.footer {
  justify-content: space-between;
}
