<app-content>
  <h1>Bienvenido</h1>
  <mat-card class="tornillos-card">
    <mat-card-header>
      <mat-card-title>Tornillos</mat-card-title>
      <mat-card-subtitle>100 por revisar</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-content>
        <button mat-flat-button color="primary"  class="revisar-button">
          <div class="revisar-button__content">
            <mat-icon>remove_red_eye</mat-icon>
            <span>Revisar</span>
          </div>
        </button>
      </app-content>
    </mat-card-content>
  </mat-card>
</app-content>
