@use '../../../../styles/colors';
.tornillos-card {
  width: 400px;
  margin: auto;

  background-color: var(--grey-background);

  .revisar-button{
    margin: auto;

    &__content{
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }
  }

}
